/* :: 17.0 Schedule Area CSS */
.our-schedule-area {
  position: relative;
  z-index: 1;
  background-color: #0b1c33;
}

.our-schedule-area .schedule-tab {
  position: relative;
  z-index: 1;
  margin-bottom: 45px;
}

.our-schedule-area .schedule-tab .nav-tabs {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom: none;
}

.our-schedule-area .schedule-tab .nav-tabs .nav-item .nav-link {
  color: #9b9bb3;
  background-color: #112b50;
  /* #212529 #9293bc #212529 #5d5e8d*/
  text-align: center;
  border-radius: 0;
  font-size: 18px;
  /* text-transform: uppercase; */
  letter-spacing: 1px;
  font-weight: 600;
  padding: 15px 30px;
  border-bottom: none;
  border-top: none;
  border-left: none;
  border-right: 1px solid #4c4f8d;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .our-schedule-area .schedule-tab .nav-tabs .nav-item .nav-link {
    font-size: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .our-schedule-area .schedule-tab .nav-tabs .nav-item .nav-link {
    font-size: 100%;
    padding: 10px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .our-schedule-area .schedule-tab .nav-tabs .nav-item .nav-link {
    font-size: 100%;
    padding: 15px 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .our-schedule-area .schedule-tab .nav-tabs .nav-item .nav-link {
    font-size: 100%;
  }
}

.our-schedule-area .schedule-tab .nav-tabs .nav-item .nav-link span {
  font-size: 90%;
  font-weight: 500;
  letter-spacing: 0;
  text-transform: capitalize;
}

@media only screen and (max-width: 767px) {
  .our-schedule-area .schedule-tab .nav-tabs .nav-item .nav-link span {
    font-size: 90%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .our-schedule-area .schedule-tab .nav-tabs .nav-item .nav-link span {
    font-size: 90%;
  }
}

.our-schedule-area .schedule-tab .nav-tabs .nav-item .nav-link.active {
  background-color: #9f3868;
  color: #ffffff;
}

.our-schedule-area .schedule-tab .nav-tabs .nav-item:nth-child(1) .nav-link {
  border-radius: 10px 0 0 10px;
}

.our-schedule-area .schedule-tab .nav-tabs .nav-item:last-child .nav-link {
  border-right: none;
  border-radius: 0 10px 10px 0;
}

.single-schedule-area {
  border: 1px solid #444675;
  border-radius: 10px;
  padding: 25px;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  margin-bottom: 20px;
}

.single-schedule-area:hover,
.single-schedule-area:focus {
  border-color: #9f3868;
}

.single-schedule-area .single-schedule-tumb-info {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 42%;
  flex: 0 0 42%;
  max-width: 42%;
  width: 42%;
  padding-right: 15px;
}
.form-register .steps {
  height: 70px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single-schedule-area .single-schedule-tumb-info {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
    max-width: 35%;
    width: 35%;
  }
}

@media only screen and (max-width: 767px) {
  .single-schedule-area .single-schedule-tumb-info {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    padding-left: 0;
    padding-bottom: 30px;
  }
}

.single-schedule-area .single-schedule-tumb-info .single-schedule-tumb {
  height: 90px;
  width: 90px;
}

.single-schedule-area .single-schedule-tumb-info .single-schedule-tumb img {
  border-radius: 50%;
}

.single-schedule-area .single-schedule-tumb-info .single-schedule-tumb i {
  font-size: 70px;
  color: white;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single-schedule-area .single-schedule-tumb-info .single-schedule-tumb i {
    font-size: 60px;
  }
}

@media only screen and (min-width: 446px) and (max-width: 767px) {
  .single-schedule-area .single-schedule-tumb-info .single-schedule-tumb i {
    font-size: 70px;
  }
}

@media only screen and (max-width: 445px) {
  .single-schedule-area .single-schedule-tumb-info .single-schedule-tumb i {
    font-size: 20vw;
  }
}

.single-schedule-area .single-schedule-tumb-info .single-schedule-info {
  /* margin-left: 30px; */
}

.single-schedule-area .single-schedule-tumb-info .single-schedule-info h6 {
  font-size: 150%;
  color: #ffffff;
  font-weight: 600;
}

.single-schedule-area .single-schedule-tumb-info .single-schedule-info h6 span {
  font-weight: 400;
  font-style: italic;
}

/* @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-schedule-area .single-schedule-tumb-info .single-schedule-info h6 {
      font-size: 30px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-schedule-area .single-schedule-tumb-info .single-schedule-info h6 {
      font-size: 14px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .single-schedule-area .single-schedule-tumb-info .single-schedule-info h6 {
      font-size: 14px;
    }
  } */

.single-schedule-area .single-schedule-tumb-info .single-schedule-info p {
  color: #ffffff;
  margin-bottom: 0;
  font-size: 100%;
}

.single-schedule-area .single-schedule-tumb-info .single-schedule-info p i {
  color: #48c5bf;
}

/* 
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-schedule-area .single-schedule-tumb-info .single-schedule-info p {
      font-size: 12px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-schedule-area .single-schedule-tumb-info .single-schedule-info p {
      font-size: 12px;
    }
  }
  */
@media only screen and (max-width: 767px) {
  .single-schedule-area .single-schedule-tumb-info .single-schedule-info p {
    font-size: 80%;
  }
}

.single-schedule-area .single-schedule-tumb-info .single-schedule-info p span {
  color: #ffffff;
}

.single-schedule-area .schedule-time-place {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 55%;
  flex: 0 0 55%;
  max-width: 55%;
  width: 55%;
  padding: 0 15px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single-schedule-area .schedule-time-place {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
    width: 60%;
  }
}

@media only screen and (max-width: 767px) {
  .single-schedule-area .schedule-time-place {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    padding: 0 0 30px 0;
  }
}

.single-schedule-area .schedule-time-place p {
  color: #ffffff;
  margin-bottom: 0;
  letter-spacing: 1px;
  font-size: 100%;
}

/* @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-schedule-area .schedule-time-place p {
      font-size: 12px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-schedule-area .schedule-time-place p {
      font-size: 12px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .single-schedule-area .schedule-time-place p {
      font-size: 12px;
    }
  } */

.single-schedule-area .schedule-time-place p i {
  color: #48c5bf;
  margin-right: 5px;
}

.single-schedule-area .schedule-time-place p:last-child {
  margin-bottom: 0;
}

.single-schedule-area .btn.confer-btn {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16%;
  flex: 0 0 16%;
  max-width: 16%;
  width: 16%;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single-schedule-area .btn.confer-btn {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
    width: 30%;
  }
}

@media only screen and (max-width: 767px) {
  .single-schedule-area .btn.confer-btn {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }
}

.single-schedule-area.single-page {
  -webkit-box-shadow: 0px 8px 27px 0px rgba(90, 111, 120, 0.15);
  box-shadow: 0px 8px 27px 0px rgba(90, 111, 120, 0.15);
  border-color: #ffffff;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
}

.single-schedule-area.single-page .single-schedule-info h6 {
  color: #0b1c33;
}

.single-schedule-area.single-page .single-schedule-info p {
  color: #9293bc;
  margin-bottom: 0;
}

.single-schedule-area.single-page .single-schedule-info p span {
  color: #0b1c33;
}

.single-schedule-area.single-page .schedule-time-place p {
  color: #0b1c33;
}

.single-schedule-area.single-page:hover,
.single-schedule-area.single-page:focus {
  border-color: #9f3868;
}
.col-12 {
  flex: 0 0 129%;
}

.single-schedule-info h6 {
  width: 200px;
  text-align: left;
}
.sch-heading {
  text-align: center;
  margin: 0;
  color: #fff;
  padding-top: 30px;
}

@media only screen and (max-width: 767px) {
  .page-content {
    max-width: 450px;
  }
  .wizard-v5-content {
    width: 370px;
  }
  .col-12 {
    flex: 0 0 20%;
    max-width: 100%;
  }
  .form-register .steps {
    height: 65px;
  }
  .form-register .steps li a .step-text {
    font-size: 20px;
  }
  .form-register .steps li:first-child {
    border-right: 1px solid #d8d8d8;
    color: #ffffff;
    text-align: center;
  }
  .form-register .steps li:last-child {
    color: #ffffff;
    text-align: left;
  }

  .single-schedule-area .single-schedule-tumb-info .single-schedule-info h6 {
    font-size: 120% !important;
  }
  .broucher_button {
    margin-left: 0%;
  }
}

.button5 {
  position: relative;
  border-radius: 50px;
  background-color: #f5f5f5;
  border: 3px solid black;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-bottom: 50px;
}

.button5 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button5 span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button5:hover span {
  padding-right: 25px;
}

.button5:hover span:after {
  opacity: 1;
  right: 0;
}
.button5:focus {
  outline: none;
}
.custom-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  display: none;
  animation: 400ms fadeIn ease-in;
}
.custom-modal-inner {
  margin: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-modal-inner img {
  height: 400px;
}
.cross-button,
.cross-button-white {
  align-self: flex-start;
  font-size: 26px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 767px) {
  .custom-modal {
    margin: 0;
  }
  .custom-modal-inner {
    margin: 0;
    margin-top: 35vh;
  }
  .custom-modal-inner img {
    width: 100%;
    height: 65vw;
  }
  .cross-button {
    position: absolute;
    right: 5px;
    padding: 0 !important;
    margin-left: -50px;
    font-size: 50px;
    color: #000 !important;
  }
  .cross-button-white {
    position: absolute;
    right: 5px;
    padding: 0 !important;
    margin-left: -50px;
    font-size: 50px;
  }
  .custom-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
